*{
    margin: 0;
    padding: 0;
}




.academy-logo{
    height: 3em;
    width: 16em;
    margin-left: 65em;
    margin-top: 1em;
}

.nav-list{
    display: flex;
    list-style: none;
    flex-direction: row;
    margin-top: -2em;
    margin-inline: 26em;
    justify-content: space-between;
    color: rgb(255, 255, 255);
}

.big-text{
    text-align: center;
    margin-top: 2em;
    color: rgb(255, 255, 255);
    font-size: 6em;
    margin-inline: 5em;
}

.navigation-bar{
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
}

.b1{
    background-color: rgb(99, 205, 205);
    color: rgb(255, 255, 255);
    border: none;
    padding: 20px 160px;
    font-size:xx-large;
    font-weight:bolder;
    border-radius: 30em;
    text-align: center;
    margin-left: 14em;
    margin-top: 1em;
    margin-bottom: 6.1em;
}

.secound-part{
    background-color: rgb(230, 230, 230);
}

.part-text{
    color: #2e003c;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    
    font-size: x-large;
    font-weight: bold;
    word-spacing: 4px;
}
.card {
    transition: 0.3s;
    width: 40%;
    border-radius: 15px;
    background-color:white;
    text-align: right;
    margin-left: 3em;
    margin-right:3em;
    margin-bottom: 3em;
  }
  
  .cards{
    display: flex;
    justify-content: space-evenly;

  }
  
  .container {
    padding: 80px 20px; 
  }

  .btn-p2{
    border: 1px solid #2e003c;
    padding: 14px 16px 14px 16px;
    font-size:medium;
    font-weight:lighter;
    border-radius: 30em;
    text-align: center;
    margin-left: 38em;
    margin-top: 1em;
    margin-bottom: 2em;
    background-color:rgba(240, 248, 255, 0);
    color: #2e003c;
  }

  .third-section{
    background-color: white;
  }

  .cards-p2{
    display: flex;
    justify-content: space-evenly;
    
  }

  .card-p2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.3s;
    width: 30%;
    border-radius: 15px;
    background-color:white;
    text-align: center;
    margin-left: 3em;
    margin-right:3em;
    margin-bottom: 3em;
    box-shadow: 2em;
    padding-top: 6em;
    padding-bottom: 6em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.container-pt2{ 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.forth-section{
    background-color: #4d0b8b;
}

.part-tex-3{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    font-size: x-large;
    font-weight: bold;
    word-spacing: 4px;
}

.btn-card3{
    border-radius: 30em;
    text-align: center;
    align-content: center;
    background-color: #6c18ba;
    color: white;
    align-self: center;
    padding-left: 4.5em;
    padding-right: 4.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: none;
    font-size:medium;
    font-weight: bold;
}
